---
import { Image } from "astro:assets";
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Supabase from "./icons/Supabase.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Prisma from "./icons/Prisma.astro";
import Svelte from "./icons/Svelte.astro";
import Typescript from "./icons/Typescript.astro";
import Clerk from "./icons/Clerk.astro";
import Resend from "./icons/Resend.astro";
import DaisyUI from "./icons/DaisyUI.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Javascript from "./icons/JavascriptIcon.astro";
import Html from "./icons/HtmlIcon.astro";
import CSS from "./icons/Css.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#0f0f0f] text-white",
    icon: Tailwind,
  },
  SUPABASE: {
    name: "Supabase",
    class: "bg-[#0f0f0f] text-white",
    icon: Supabase,
  },
  PRISMA: {
    name: "Prisma",
    class: "bg-[#0f0f0f] text-white",
    icon: Prisma,
  },
  SVELTE: {
    name: "Sveltekit",
    class: "bg-[#0f0f0f] text-white",
    icon: Svelte,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-[#0f0f0f] text-white",
    icon: Typescript,
  },
  CLERK: {
    name: "Clerk",
    class: "bg-[#0f0f0f] text-white",
    icon: Clerk,
  },
  RESEND: {
    name: "Resend",
    class: "bg-[#0f0f0f] text-white",
    icon: Resend,
  },
  DAISYUI: {
    name: "DaisyUI",
    class: "bg-[#0f0f0f] text-white",
    icon: DaisyUI,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#0f0f0f] text-white",
    icon: AstroIcon,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#0f0f0f] text-white",
    icon: Javascript,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#0f0f0f] text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#0f0f0f] text-white",
    icon: CSS,
  },
};
const PROJECTS = [
  {
    title: "Viviana Palominos - Travel Agent",
    description:
      "Landing page for Viviana Palominos, it allow to contact her and see the services offered.",
    link: "https://vivipalominos.com/",
    github: "https://github.com/kbzaso/vivi-palominos",
    image: "/projects/vivi.webp",
    tags: [
      TAGS.ASTRO,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.RESEND,
    ],
  },
  {
    title: "5LC - Ecommerce site of Pro-wrestling in Chile",
    description:
      "Ecommerce and ticketing platform. Increased sales, minimized costs and managed every step of the users experience.",
    link: "https://5luchas.cl/",
    github: "https://github.com/kbzaso/5lc-website",
    image: "/projects/5lc.webp",
    tags: [
      TAGS.SVELTE,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.SUPABASE,
      TAGS.PRISMA,
      TAGS.RESEND,
    ],
  },
  {
    title: "Ticket Validator and payment control system",
    description:
      "Real-time ticket validator and payment control system for events. It allows to validate tickets and control payments in real-time.",
    github: "https://github.com/kbzaso/admin-5lc",
    image: "/projects/admin.webp",
    tags: [TAGS.SVELTE, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.SUPABASE, TAGS.PRISMA, TAGS.CLERK, TAGS.DAISYUI],
  },
  {
    title: "Bóveda Secreta Landing page",
    description:
      "Training center for wrestlers. It allows to book classes, look all the services offered and see the trainers.",
    link: "https://www.bovedasecreta.cl/",
    github: "https://github.com/kbzaso/boveda-app",
    image: "/projects/boveda.webp",
    tags: [TAGS.SVELTE, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.DAISYUI],
  },
  {
    title: "VGE - Civil Engineering and Architecture",
    description:
      "Landing page for VGE, a civil engineering and architecture company. It allows to contact them and see the services offered.",
    link: "https://vge.cl/",
    github: "https://github.com/kbzaso/VGE",
    image: "/projects/vge.webp",
    tags: [
      TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS,
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <Image
              src={image}
              alt="Mockup of the project"
              loading="eager"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              style="object-position: 50% 50%"
              decoding="async"
              fetchpriority="low"
              width={1920}
              height={1440}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-2 flex-wrap">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
